<div class="dashboard-container">
    <h1 class="dashboard-title">Patient Dashboard</h1>
    <p class="welcome-message">Welcome, {{ patientProfile?.firstName }} {{ patientProfile?.lastName }}</p>
  
    <div class="dashboard-buttons">
      <button class="dashboard-button" (click)="viewBasket()">View Basket</button>
      <button class="dashboard-button" (click)="viewDoctors()">View Doctors</button>
      <button class="dashboard-button logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
  