table {
width: 100%;
border-collapse: collapse;
}

thead th, tbody td {
border: 1px solid #ccc;
text-align: center;
padding: 10px;
}

.reserved {
background-color: #f8d7da;
color: #721c24;
}

.past {
background-color: #eaeaea;
color: #888;
}

td:hover:not(.past) {
background-color: #e8f4fa;
cursor: pointer;
}

td {
position: relative;
}

div {
padding: 5px;
border-radius: 5px;
}

.current {
background-color: yellow !important;
color: black;
font-weight: bold;
}

.appointment-details {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
}

.absence {
    background-color: red;
    color: white;
}
  